/* For small Screens */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
}
nav {
    background-color: #FFC0CB; /* darker pink helps with the constrast */
    color: black;
}
header, main{
    margin: 0 auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid black;
    background-color: #00008B; /* lighter shade of blue works better */
    color: yellow;
}
nav{
    max-width: 800px;
    margin: 0 auto;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
nav li {
    margin-right: 0;
    margin-bottom: 10px;
    overflow: auto;
}
nav a{
    display:block;
    color:black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    border-radius: 5px;
    box-shadow: 0 5px black;
}
nav a:hover, nav a.active{
    border:1px solid black;
    text-decoration: underline;
    box-shadow: 0 2px black;
    transform: translateY(3px);
    background-color: #00008B;
    color: yellow;
}
.active{
    color:yellow;
}
.card {
    margin: 1rem 2vw;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
}
.card section {
    border: 1px solid #007BFF;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}
.card h2{
    background-color: #FFC0CB;
    color: black;
    display: block;
    text-align: center;
    padding: .75rem 0;
}
.card p{
    padding: 10px;
}
h1{
    font-weight: 100;
    text-align: center;
}
footer {
    background-color: #00008B;
    color: yellow;
}