body, html {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Serif;
    background-color: #8B4513; /* Brown background */
}

h1{
    color: white;
    margin: top 0;
}

#homeButton {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: #006400;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header {
    text-align: center;
    padding: 20px;
    background-color: transparent;
    position: relative;
}

.top-img {
    display: block;
    margin: 0 auto;
    height: 50px;
    padding-bottom: 10px;
}

main {
    padding: 20px;
}

.section {
    background-color: #006400; 
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5); 
    border: 1px solid black; 
    margin-bottom: 20px; 
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;
}

footer {
    text-align: center;
    background-color: #006400;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-img {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
p{
    font-family: "Arial", sans-serif;
    color: white;
}
.wireframe-img {
    width: 100%; 
    height: auto; 
    margin-bottom: 10px; 
}

.wireframe-section {
    background-color: #f0f0f0; /* Light background for the section */
    border: 1px solid #ccc; /* Light border to match the 3D effect */
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5); /* Shadow for 3D effect */
    padding: 20px; /* Padding inside the section */
    margin-bottom: 20px; /* Space below the section */
}

.wireframe-img2 {
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any default inline spacing */
    margin: 0 auto; /* Center align if needed */
}