body, html {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Serif;
    background-color: #8B4513; /* Brown background */
}
h1{
    color: white;
    margin-top: 0;
}
#homeButton {
    position: fixed; /* Change from absolute to fixed to ensure it's relative to the viewport */
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: #006400; /* Dark green background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* Ensure it's on top */
    text-decoration: none; /* Remove underline from link */
    font-weight: bold; /* Make text bold */
}
header {
    text-align: center;
    padding: 20px;
    background-color: transparent;
    position: relative;
}
.top-img {
    display: block;
    margin: 0 auto;
    height: 50px;
    padding-bottom: 10px;
}
main {
    padding: 20px;
}
.section {
    background-color: #006400; 
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5); 
    border: 1px solid black; 
    margin-bottom: 20px; 
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;
}
footer {
    text-align: center;
    background-color: #006400;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-img {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
p{
    font-family: "Arial", sans-serif;
    color: white;
}
.wireframe-img {
    width: 100%; 
    height: auto; 
    margin-bottom: 10px; 
}
.wireframe-section {
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5); 
    padding: 20px; 
    margin-bottom: 20px; 
}
.wireframe-img2 {
    width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}
p[contenteditable="true"] {
    color: black;
    background-color: #f0f0f0;  
    border: 1px solid #ccc;  
}
@media (max-width: 767px) {
    #homeButton {
        padding: 8px;
        font-size: 12px; 
        top: 5px;
        left: 5px;
    }
}